@media (max-width: 1240px) {
  header {
    background-color: var(--bg-color);
  }
  
  header img {
    width: 10%;
    margin: 2%;
  }

  ul {
    margin-top: 4.5%;
  }

  a{
    font-size: 220%;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 44px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 37px;
  width: 37px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.inicio h1 {
  font-size: 140%;
}

.inicio {
  margin-top: 7%;
  justify-content: center;
}

.inicio h1 {
  font-size: 70%;
}

.inicio img {
  width: 35%;
  margin: 0;
}

.inicio::before {
  height: 60vmin;
	width: 60vmin;
  margin: 0;
}

.text-home {
  visibility: hidden;
}

.text-home-mobile {
  visibility: visible;
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 160%;
}

.about-me-dark h2 {
  text-align: center;
  color: white;
  font-size: 350%;
  transition: 0.3s ease;
  }
}

@media (max-width: 530px) {
  header {
    background-color: var(--bg-color);
  }
  
  header img {
    width: 20%;
    margin: 2%;
  }

  ul {
    margin-top: 8%;
    gap: 2vh;
  }

  a{
    font-size: 120%;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.inicio h1 {
  font-size: 120%;
}

.inicio {
  margin-top: 7%;
  justify-content: center;
}

.inicio h1 {
  font-size: 70%;
}

.inicio img {
  width: 55%;
  margin: 0;
}

.inicio::before {
  height: 60vmin;
	width: 60vmin;
  margin: 0;
}

.text-home {
  visibility: hidden;
}

.text-home-mobile {
  visibility: visible;
  color: white;
  text-align: center;
  margin-top: 15%;
  font-size: 140%;
}

.about-me-dark h2 {
  text-align: center;
  color: white;
  font-size: 250%;
  transition: 0.3s ease;
  }

.about-me-dark h3 {
  text-align: center;
  color: white;
  font-size: 150%;
  transition: 0.3s ease;
  }
}

@media (max-width: 425px) {
  header {
    background-color: var(--bg-color);
  }
  
  header img {
    width: 20%;
  }

  ul {
    gap: 1.5vh;
    margin-top: 8%;
    margin-left: -10%;
  }

  a{
    font-size: 120%;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.inicio {
  margin-top: 7%;
  justify-content: center;
}

.text-home {
  visibility: hidden;
}

.text-home-mobile {
  visibility: visible;
  color: white;
  text-align: center;
  margin-top: 15%;
  font-size: 140%;
}

.inicio img {
  width: 55%;
  margin: 0;
}

.inicio::before {
  height: 60vmin;
	width: 60vmin;
  margin: 0;
}

.about-me-dark h2 {
  text-align: center;
  color: white;
  font-size: 250%;
  transition: 0.3s ease;
  }

.about-me-dark h3 {
  text-align: center;
  color: white;
  font-size: 150%;
  transition: 0.3s ease;
  }
}