@media (max-width: 1280px) {
    .inicio-light {
        margin-top: 7%;
        justify-content: center;
    }

    .inicio-light h1 {
        font-size: 70%;
    }

    .inicio-light img {
        width: 35%;
        margin: 0;
    }
    .inicio-light::before {
        height: 60vmin;
	    width: 60vmin;
        margin: 0;
    }

  .about-me-light h2 {
    text-align: center;
    color: black;
    font-size: 350%;
    transition: 0.3s ease;
  }
}

@media (max-width: 530px) {
    .inicio-light {
        margin-top: 7%;
        justify-content: center;
    }

    .inicio-light h1 {
        font-size: 70%;
    }

    .inicio-light img {
        width: 55%;
        margin: 0;
    }
    .inicio-light::before {
        height: 60vmin;
	    width: 60vmin;
        margin: 0;
    }

  .about-me-light h2 {
    text-align: center;
    color: black;
    font-size: 250%;
    transition: 0.3s ease;
  } 

  .about-me-light h3 {
    text-align: center;
    color: black;
    font-size: 150%;
    transition: 0.3s ease;
  }

  .about-me-light h4 {
    font-size: 150%;
    text-align: center;
  }
}

@media (max-width: 425px) {
    .inicio-light {
        margin-top: 7%;
        justify-content: center;
    }

    .inicio-light h1 {
        font-size: 70%;
    }

    .inicio-light img {
        width: 55%;
        margin: 0;
    }
    .inicio-light::before {
        height: 60vmin;
	    width: 60vmin;
        margin: 0;
    }

  .about-me-light h2 {
    text-align: center;
    color: black;
    font-size: 250%;
    transition: 0.3s ease;
  }

  .about-me-light h3 {
    text-align: center;
    color: black;
    font-size: 150%;
    transition: 0.3s ease;
  }

  .about-me-light h4 {
    font-size: 150%;
    text-align: center;
  }

}