.back-main-light {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-size: cover;
    margin: 0;
    background-color: #a7a0ad;
    transition: 1s ease;
}

.inicio-light {
  margin: 0;
  margin-top: 5%;
  display: flex;
  position: relative;
  transition: 1s ease;
}

.text-home {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 180%;
}

.inicio-light img {
  border-radius: 50%;
  margin: 4%;
  margin-left: 17%;
  width: 20%;
  z-index: 2;
}

.inicio-light::before {
	animation: anim 30s infinite;
	/*background: radial-gradient(circle at 0% 0%, rgb(210, 255, 105), rgb(205, 155, 90));*/
	background: transparent;
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
	box-shadow: 0 -2vmin 4vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
		0 -2vmin 7vmin purple inset;
	content: "";
	filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin Orchid)
		drop-shadow(2vmin -2vmin 15vmin MediumSlateBlue)
		drop-shadow(0 0 7vmin MediumOrchid);
	height: 50vmin;
	position: absolute;
	width: 50vmin;
    margin: 1%;
  	margin-left: 15%;
  	z-index: 1;
  	transition: 1s ease;
}

@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		box-shadow: 0 -2vmin 4vmin LightPink inset, 0 -4vmin 4vmin MediumPurple inset,
			0 -2vmin 7vmin purple inset;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
		box-shadow: 0 -4vmin 8vmin hotpink inset, -1vmin -2vmin 6vmin LightPink inset,
			-1vmin -2vmin 4vmin MediumPurple inset, 1vmin 4vmin 8vmin purple inset;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
		box-shadow: 0 4vmin 16vmin hotpink inset, 0 2vmin 5vmin LightPink inset, 0 4vmin 4vmin MediumPurple inset,
			0 6vmin 8vmin purple inset;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
		box-shadow: 1vmin 1vmin 8vmin LightPink inset,
			2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 16vmin purple inset;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}

.about-me-light {
  justify-content: center;
  background-color: white;
  padding: 2% 0;
  transition: 1s ease;
  color: black;
}

.about-me-light h2 {
  text-align: center;
  font-size: 330%;
  transition: 0.3s ease;
}

.about-me-light h2:hover {
  color: var(--bg-color);
  transition: 0.3s ease;
}

.about-me-light h3 {
  text-align: center;
  font-size: 200%;
  transition: 0.3s ease;
}

.about-me-light h4 {
  font-size: 270%;
  transition: 0.3s ease;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5%;
}

.about-me-light hr {
  width: 35%;
  border: 1px solid black;
  margin-top: 0.5%;
  margin-bottom: -10px;
}